language: node_js
node_js:
  - "stable"

cache:
  directories:
    - node_modules

install:
  - npm install

script:
  - npm run build
  - cp build/index.html build/404.html

deploy:
  provider: pages
  skip_cleanup: true
  token: $GITHUB_TOKEN
  local_dir: build
  on:
    branch: main


